// Default black theme

// Color variables
$black: #111100;
$green: #60935D;
$white: #EEE;

// Config
$color-background: $black !default;
$color-dot-accent: $green !default;
$color-foreground: $white !default;
$color-title: $green !default;
$color-body-text: $white !default;
$color-text-accent: $green !default;
$color-code: $green !default;
$color-nav-link: $green !default;
$color-primary-link: $green !default;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
