// White theme

// Color variables
$black: #181818;
$red: #E74727;
$red-dark: #DC3918;
$gray-light: #000000;
$white: #fff;

// Config
$color-background: #001800 !default;
$color-body-background: $black !default;
$color-dot-accent: $red !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $white !default;
$color-text-accent: $red-dark !default;
$color-code: $red-dark !default;
$color-nav-link: $red-dark !default;
$color-primary-link: $red-dark !default;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
