---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <div class="mb-4 py-4">
    {% for category in site.data.cv %}
    <h2 class="center-text">{{ category.name }}</h2>
    <div class="card-container">
      {% for item in category.items %}
      <div class="card {{ item.text-color }}" style="background-color: #{{ item.color }};">
        <div>
          <img src="../assets/logos/{{ item.image }}">
        </div>
        <div class="info">
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.company }}</p>
          <p class="dates">{{ item.dates }}</p>
          <p class="description">{{ item.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</article>