---
layout: default
---
<article class="container mx-auto px-2 mt2 mb4">
  <div class="col-4 sm-width-full border-top-thin">
  </div>
  <div class="prose mb-4 py-4">
    {% for category in site.cv %}

    <div>
      <h2>{{ category.name }}</h2>
      {% for item in category.items %}
      <div class="card" style="background-color: #{{ item.color }};">
        <div>
          <img src="../assets/logos/{{ item.image }}">
        </div>
        <div class="info">
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.company }}</p>
          <p class="dates">{{ item.dates }}</p>
          <p class="description">{{ item.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</article>