<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div>
    <header class="header-background">
      <div class="clearfix border-bottom-thick header-border">
        <ul class="list-reset right py-1 header-text font-smoothing">
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="inline-block">
            <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">
              {{my_page.title }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="flex container gap-1 mx-auto header-text">
        <section class="grid grid-cols-1 lg:grid-cols-2-1 gap-2 items-center">
          <div class="flex flex-col gap-2">
            <h1 class="h0 header-title">{{ site.title }}</h1>
            <p class="h4 lh-condensed font-smoothing">{{ site.description }}</p>
            <div class="table">
              {% for i in (1..3) %}
              <div class="inline-block mr-1">
                {% include dot-accent.html %}
              </div>
              {% endfor %}
              {% for social in site.socials %}
              <div class="inline-block mr-1">
                {% include {{ social.link }}.html username=social.username %}
              </div>
              {% endfor %}
            </div>
          </div>
          <picture class="order-first lg:order-1">
            <img src="{{ site.homepage_image }}" alt="{{ site.homepage_image_alt }}"
              style="width: 100%; object-fit: contain;">
          </picture>
        </section>
      </div>
    </header>
    <div class="container mx-auto px-2 py-4">
      {% for post in site.posts %}
      {% include post_block.html %}
      {% endfor %}
    </div>
  </div>
  {% include footer.html %}
</body>

</html>